<html>
    <link rel ="stylesheet" href="/css/main.css" >
    <header>
        <div class="container">
            <h1 class="heading">Welcome to Banking Application</h1>
            <a href="/home">Start</a>
           </div> 
    </header> 
</html>