.jumbotron{
    background-image: url('../images/bank.jpg');
    background-size: cover;
    box-shadow:         inset 0 -8px 6px -6px rgba(0, 0, 0, 0.76);
    border-radius: 0px;
}
.jumbotron .container h1{
    font-weight: 20;
    font-family: sans-serif;
    padding-top: 15px;

}
div.container p.lead{
    padding-bottom: 23px;
}
.table{
   background-image: url('../images/table.jpg');

}

